
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC KAMP TABLO ÖRNEĞİ - KATEGORİ</h3>
<br />

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklaması</th>
        <th>Durumu</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>

</table>

<button class="btn btn-success">Yeni Kategori Ekle</button>
<button class="btn btn-info">Kategori Listesi</button>
<button class="btn btn-warning">Kategori Açıklamaları</button>